{% extends "network/layout.html" %}
{% load static %}
{% block body %}

    <div class="container">
        {% if message %}    
            <div>{{ message }}</div>
        {% endif %}
    
        <!-- It appear only to logged users -->
        {% if user.is_authenticated %}
        <div>
            <h6> Make a new post</h6>
            <form action="{% url 'new_post' %}" method="POST">
                {% csrf_token %}
                <textarea name="new_content" id="" cols="150" rows="5"></textarea>
                <br>
                <button type="submit"> Post! </button>
            </form>
        </div>
        {% endif%}
        <div id='all_posts'>
            {% for post in posts %}
                <div>
                    <div> 
                        <h6>Posted by : <span style="color: gray;"><a href="{% url 'profile' post.creator %}">{{post.creator}}</a></span></h6>
                        <span style="float: right;">{{post.create_date}}</span>
                    </div>
                    <h4> {{ post.content }}</h4>
                    <div> 
                        <button id = "like">Like</button>
                        <span>{{post.total_likes}}</span>
                    </div>
                </div>
                <hr>
            {% endfor %}

        </div>

    </div>
{% endblock %}